<article class="post post-type-normal" itemscope itemtype="http://schema.org/Article">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline"><%= page.title || __('post.untitled') %></h1>
    
    <div class="post-meta">
      <span class="post-time">
        <span class="post-meta-item-icon">
          <i class="far fa-calendar"></i>
        </span>
        <span class="post-meta-item-text"><%= __('post.posted') %></span>
        <time itemprop="dateCreated" datetime="<%= date_xml(page.date) %>" content="<%= date_xml(page.date) %>">
          <%= date(page.date, 'YYYY-MM-DD') %>
        </time>
      </span>
      
      <% if (page.updated) { %>
        <span class="post-time">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="far fa-calendar-check"></i>
          </span>
          <span class="post-meta-item-text"><%= __('post.edited') %></span>
          <time itemprop="dateModified" datetime="<%= date_xml(page.updated) %>" content="<%= date_xml(page.updated) %>">
            <%= date(page.updated, 'YYYY-MM-DD') %>
          </time>
        </span>
      <% } %>
      
      <% if (page.categories && page.categories.length) { %>
        <span class="post-category">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="far fa-folder"></i>
          </span>
          <span class="post-meta-item-text"><%= __('post.in') %></span>
          <% page.categories.forEach(function(category, i) { %>
            <span itemprop="about" itemscope itemtype="http://schema.org/Thing">
              <a href="<%- url_for(category.path) %>" itemprop="url" rel="index">
                <span itemprop="name"><%= category.name %></span>
              </a>
            </span>
            <% if (i < page.categories.length - 1) { %>, <% } %>
          <% }) %>
        </span>
      <% } %>
      
      <% if (page.tags && page.tags.length) { %>
        <span class="post-tags">
          <span class="post-meta-divider">|</span>
          <span class="post-meta-item-icon">
            <i class="fas fa-tags"></i>
          </span>
          <span class="post-meta-item-text">Tags</span>
          <% page.tags.forEach(function(tag, i) { %>
            <a href="<%- url_for(tag.path) %>" rel="index">
              <span class="post-meta-item-text"><%= tag.name %></span>
            </a>
            <% if (i < page.tags.length - 1) { %>, <% } %>
          <% }) %>
        </span>
      <% } %>
    </div>
  </header>
  
  <div class="post-body" itemprop="articleBody">
    <%- page.content %>
  </div>
  
  <footer class="post-footer">
    <div class="post-nav">
      <% if (page.prev) { %>
        <a href="<%- url_for(page.prev.path) %>" rel="prev" title="<%= page.prev.title %>">
          <i class="fas fa-angle-left"></i>
          <%= page.prev.title %>
        </a>
      <% } %>
      
      <% if (page.next) { %>
        <a href="<%- url_for(page.next.path) %>" rel="next" title="<%= page.next.title %>">
          <%= page.next.title %>
          <i class="fas fa-angle-right"></i>
        </a>
      <% } %>
    </div>
  </footer>
</article>
